header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') Vebery
        .nav-collapse.collapse
          ul.nav
            li
              a(href="/") 首页
            li
              a(href="/deployments/new") 新录入

